body {background-color : lightgray;}
.page { 
    background-color : white;
    height: 1250px;
    width: 54%;
    padding: 0% 8% 0% 8%;
    margin: 15px 15%;
    -webkit-box-shadow: gray 10px 10px 20px , gray -10px -10px 20px;
}
.page.continous { 
    width: 84%;
    margin: 4px 0%;
    -webkit-box-shadow: gray 0px 0px 2px , gray -0px -0px 2px;
}
#canvas1{
    margin-top: 20%;
}
#canvas2{
    margin-left: 35%;
}
#menu { 
position : fixed; left : 0px; top : 0px;
height : 88%;
width : 13%;
margin-left: 1.1%;
margin-right: 1.1%;
margin-top: 1.1%;
-webkit-border-radius: 5px;
}
.invisible {
background-color:rgba(138,43,226,0);
-webkit-box-shadow: 5px 5px 40px rgba(136,136,136,0),-5px -5px 40px rgba(136,136,136,0);
}
.invisible.not{
background-color:rgba(138,43,226,0.90);
-webkit-box-shadow: 5px 5px 40px rgba(136,136,136,1),-5px -5px 40px rgba(136,136,136,1);
}
.menuitem {
display: block;
background-color:rgba(0,0,0,.35);
border: 2px solid black;
width: 48%;
height:11%;    
margin-left: 25%;
margin-top: 30%;
-webkit-border-radius: 8px;
 }
.menuitem.gone {
display: none;
}
#break{margin-top: 40%;}
.menuimg{
height:80%;
width:80%;
margin-left: 9%;
margin-top: 7.5%;
}
dialog {
position : fixed; top : 200px;
text-align: left;
padding: 1.5em;
margin: 1em auto;
border: 0;
border-radius: 8px;
box-shadow: 0 2px 10px #111;
}
dialog::backdrop {
background-color: rgba(187, 217, 242, 0.8);
}
button { margin-left: 195px;}
a { cursor: default;}
#pageno { 
position : fixed; left : 0px; bottom : 0px;
background-color: black;
color: white;
height:6.5%;
width : 7%;
margin-left: 4%;
margin-bottom: 1%;
-webkit-box-shadow: 5px 5px 8px rgba(136,136,136,1);
-webkit-border-radius: 10px;
}
#pagecount{
padding-left: 28.5%;
font-size: 20px;
margin-top: 9.5%;
}